/* font embeding */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Styles */
* {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
}

body {
    border: 1px dotted;
}

.btn {
    border: none;
    border-radius: 4px;
    background-color: #30B868;
    padding: 12px 16px;
    color: white;
}

.btn:hover {
    cursor: pointer;
}

/* Individual Styles */
/* NavBar Style */
header nav {
    display: flex;
    align-items: center;
    max-height: 92px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

header nav a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

/* Hero-Banner Style */
.hero-banner {
    background-image: url('../images/hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 115px 120px 180px;
    text-align: center;
}

.hero-content .hero-title h1 {
    font-size: 72px;
    color: white;
    margin-bottom: 16px;
}

.hero-content .hero-title h1 span {
    color: #30B868;
}

.hero-content p {
    color: white;
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 200;
}

.hero-content .btn1 {
    color: #30B868;
    border: none;
    border-radius: 100px;
    margin-bottom: 16px;
    padding: 8px 12px;                     ;
}

.hero-content .btn2 {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    border-radius: 4px;
    padding: 12px 16px;
    color: white;
    margin-left: 16px ;
}