/* font embeding */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Styles */
* {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
}

body {
    border: 1px dotted;
}

.btn {
    border: none;
    border-radius: 4px;
    background-color: #30B868;
    padding: 12px 16px;
    color: white;
}

.btn, .btn1, .btn2 {
    cursor: pointer;
}

/* Individual Styles */
/* NavBar Style */
header nav {
    display: flex;
    align-items: center;
    max-height: 92px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

header nav a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

/* Hero-Banner Style */
.hero-banner {
    background-image: url('../images/hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 115px 120px 180px;
    text-align: center;
}
.hero-content .hero-title h1 {
    font-size: 72px;
    color: white;
    margin-bottom: 16px;
}
.hero-content .hero-title h1 span {
    color: #30B868;
}
.hero-content p {
    color: white;
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 200;
}
.hero-content .btn1 {
    color: #30B868;
    border: none;
    border-radius: 100px;
    margin-bottom: 16px;
    padding: 8px 12px;                     ;
}
.hero-content .btn2 {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    border-radius: 4px;
    padding: 12px 16px;
    color: white;
    margin-left: 16px ;
}

/* Notes and cards section */
.notes-container {
    text-align: center;
    padding: 0 120px;
}
.notes-container .des h2 {
    font-size: 48px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 16px;
}
.notes-container .des p {
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
}
.notes-container .cards {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    max-width: 1360px;
}
.cards .card {
    /* border: 1px dotted blue; */
    max-width: 322px;
    padding: 69px 24px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06);
}
.card img {
    background-color: #F95555;
    padding: 14px;
    border-radius: 50%;
    margin-bottom: 16px;
}
.card h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #001931;
}
.card p {
    font-size: 16px;
    color: #627382;
}

/* Second Brain Section */
.second-brain-section {
    padding: 120px;
}
.second-brain-section .second-brain-container {
    display: flex;
    gap: 60px;
    max-width: 1360px;
    align-items: center;
}
.second-brain-container .bullets .green {
    color: #469165;
    margin-bottom: 16px;
    font-size: 16px;
}
.second-brain-container .bullets h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
.second-brain-container .bullets .des {
    font-size: 16px;
    color: #627382;
    margin-bottom: 40px;
}
.bullets .bullet-points {
    display: flex;
    gap: 6px;
    margin-bottom: 16px;
    font-size: 16px;
    align-items: center;
}
.bullet-points img {
    width: 20px;
    height: 20px;
    margin: 0;
}
.bullet-points p {
    margin: 0;
}
